html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
  background: lightblue;
}
#page-wrapper {
  width: 60vw;
  background: #FFF;
  padding: 1em;
  margin: 1em auto;
  min-height: 300px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.8);
}

h1 {
    margin-top: 0;
}
#fileDisplayArea {
  margin-top: 2em;
  width: 100%;
  overflow-x: auto;
}
th{
  background-color: blueviolet;
}
td{
  background-color: greenyellow;
}
tbody{
  display: none;
}
caption{
  display: table-footer-group;
}
#progress {
  width: 100%;
  background-color: #ddd;
}
#progressBar {
  width: 1%;
  height: 10px;
  background-color: blueviolet;
}